{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['product', 'class_category'] %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}商品並び替え{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script>
        $(function() {

            var setupContextMenu = function($children) {
                var childrenMax = $children.size() - 1;
                $children.each(function(index, obj) {
                    // up表示切替
                    if (index > 0) {
                        $(this).find(".admin_product_product_rank_up").show();
                    } else {
                        $(this).find(".admin_product_product_rank_up").hide();
                    }
                    if (index < childrenMax) {
                        $(this).find(".admin_product_product_rank_down").show();
                    } else {
                        $(this).find(".admin_product_product_rank_down").hide();
                    }
                });
            };

            setupContextMenu($("div.tableish > .item_box"));

            $("#product_rank_list > div.tableish").sortable({
                items: '> .item_box',
                cursor: 'move',
                update: function(e, ui) {
                    $("body").append($('<div class="modal-backdrop in"></div>'));
                    var $children = $(ui.item).parent().children();
                    updateRank(ui.item);
                }
            });

            // 並び替え後にrankを更新
            var updateRank = function(item) {
                var position = $(item).parent().children().index(item) + 1;
                $.ajax({
                    url: '{{ url('admin_product_product_rank_move_rank') }}',
                    type: 'POST',
                    data: {
                        'category_id': '{{ category_id }}',
                        'product_id': item.data('product-id'),
                        'position': position,
                    },
                }).done(function(data) {
                    console.log(data);
                    $(".modal-backdrop").remove();
                    if (data != true) {
                        alert('{{ 'admin.product_rank.move_rank.error'|trans }}');
                        $("#product_rank_list > div.tableish").sortable('cancel');
                    } else {
                        setupContextMenu($children);
                    }
                }).fail(function() {
                    console.log('fail');
                    $(".modal-backdrop").remove();
                    alert('{{ 'admin.product_rank.move_rank.error'|trans }}');
                    $("#product_rank_list > div.tableish").sortable('cancel');
                });
            };

            // カテゴリツリー開閉
            // 初期表示
            $("#category_tree li ul").css("display", "none");
            // 現在地まで拓く
            $("#category_tree li.active")
                    .parents("ul")
                    .css("display", "");

            // クリックでひらく
            $("#category_tree li svg").on("click", function(){
                $(this).parent().find("ul").slideToggle(100);
            });

            // ランク移動リンク
            $(".product_rank_move_rank_anchor").on("click", function(e) {
                e.preventDefault();
                $form = $('<form action="{{ url('admin_product_product_rank_move_rank') }}" method="POST" style="display:none;"></form>');
                $item = $(this).parents(".item_box");
                $form.append($('<input type="hidden" name="category_id"></input>').val($item.data("category-id")));
                $form.append($('<input type="hidden" name="product_id"></input>').val($item.data("product-id")));
                $form.append($('<input type="hidden" name="position"></input>').val($(this).siblings(".product_rank_move_rank_input").val()));
                $('body').append($form);
                $form.submit();
            });

        });
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <div class="box-title box-title-category">
                        <a href="{{ url('admin_product_category') }}">全カテゴリー</a>
                        {% for ParentCategory in TargetCategory.path %}
                            {% if ParentCategory.id is not null %}
                                &nbsp;<svg class="cb cb-angle-right"> <use xlink:href="#cb-angle-right" /></svg>&nbsp;<a href="{{ url('admin_product_product_rank_show', { category_id : ParentCategory.id }) }}">{{ ParentCategory.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if ProductCategorys|length > 0 %}
                    <div class="box-body no-padding no-border">
                        <div id="product_rank_list" class="sortable_list">
                            <div class="tableish">

                                {% for ProductCategory in ProductCategorys %}

                                    <div class="item_box tr" data-rank="{{ ProductCategory.rank }}" data-category-id="{{ ProductCategory.category_id }}" data-product-id="{{ ProductCategory.product_id }}">
                                        <div class="icon_sortable td">
                                            <svg class="cb cb-ellipsis-v"> <use xlink:href="#cb-ellipsis-v" /></svg>
                                        </div>
                                        <div class="item_pattern td">
                                            <div class="item_id td">
                                                {{ProductCategory.Product.id}}
                                            </div>

                                            <div class="item_photo td">
                                                <a href="{{ url('admin_product_product_edit', { id : ProductCategory.Product.id }) }}">
                                                    <img src="{{ app.config.image_save_urlpath }}/{{ ProductCategory.Product.mainFileName|no_image_product }}" />
                                                </a>
                                            </div>
                                            <div class="item_detail td">
                                                <a href="{{ url('admin_product_product_edit', { id : ProductCategory.Product.id }) }}">
                                                    {{ ProductCategory.Product.name }}
                                                </a><br>
                                                {% if ProductCategory.Product.code_min is not empty or ProductCategory.Product.code_max is not empty %}
                                                    <span>
                                                        {{ ProductCategory.Product.code_min }}
                                                        {% if ProductCategory.Product.code_min != ProductCategory.Product.code_max %} ～ {{ ProductCategory.Product.code_max }}
                                                        {% endif %}
                                                    </span><br>
                                                {% endif %}
                                                <span>
                                                    ({{ ProductCategory.Product.status }})
                                                </span>
                                            </div>
                                            <div class="icon_edit td">
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"><use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <input class="product_rank_move_rank_input" type="text" class="form-control" />
                                                            <a class="product_rank_move_rank_anchor" href="javascript:void(0);">番目へ移動</a></li>
                                                            <li>
                                                                <a class="admin_product_product_rank_up" href="{{ url('admin_product_product_rank_up', {category_id: ProductCategory.category_id, product_id: ProductCategory.product_id}) }}"  {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">上へ</a>
                                                            </li>
                                                            <li>
                                                                <a class="admin_product_product_rank_down" href="{{ url('admin_product_product_rank_down', {category_id: ProductCategory.category_id, product_id: ProductCategory.product_id}) }}"  {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">下へ</a>
                                                            </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div><!-- /.item_box -->
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div><!-- /.box-body -->
                {% else %}
                    <div class="box-body no-padding">
                        <div class="data-empty"><svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg><p>カテゴリを選択してください。</p></div>
                    </div><!-- /.box-body -->
                {% endif %}
                <!-- ▲ データがある時 ▲ -->
            </div><!-- /.box -->
        </div><!-- /.col -->

        {% macro tree(Category, TargetId, level) %}
            {% set level = level + 1 %}
            <li class="level{{ level }} {% if Category.id == TargetId %}active{% endif %}">
                <svg class="cb cb-plus-square"> <use xlink:href="{% if Category.children|length > 0 %}#cb-plus-square{% else %}#cb-minus-square{% endif %}" /></svg>
                <a href="{{ url('admin_product_product_rank_show', { category_id : Category.id }) }}">
                    {{ Category.name }} ({{ Category.children|length }})
                </a>
                {% if Category.children|length > 0 %}
                    {% for ChildCategory in Category.children %}
                        <ul>
                            {{ _self.tree(ChildCategory, TargetId, level) }}
                        </ul>
                    {% endfor %}
                {% endif %}
            </li>
        {% endmacro %}

        <div class="col-md-3" id="aside_column">
            <div class="col_inner">

                <div class="box no-header">
                    <div class="box-body">
                        <div class="tree">
                            <p class="{% if Parent is null %}active{% endif %}"><a href="{{ url('admin_product_product_rank') }}">全カテゴリー</a></p>
                            <ul id="category_tree">
                                {% for TopCategory in TopCategories %}
                                    {{ _self.tree(TopCategory, TargetCategory.Parent.id | default(null), 0)}}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div><!-- /.box -->

            </div>
        </div><!-- /.col -->

    </div>
{% endblock %}
