{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'product_rank'] %}

{% block title %}{{ 'product_rank.admin.move_rank.sub_title'|trans }}{% endblock %}
{% block sub_title %}{{ 'product_rank.admin.move_rank.title'|trans }}{% endblock %}


{% block javascript %}
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script>
        $(function() {

            var setupContextMenu = function($children) {
                var childrenMax = $children.length - 1;
                $children.each(function(index, obj) {
                    // up表示切替
                    if (index > 0) {
                        $(this).find(".action-up").removeClass('disabled');
                    } else {
                        $(this).find(".action-up").addClass('disabled');
                    }
                    if (index < childrenMax) {
                        $(this).find(".action-down").removeClass('disabled');
                    } else {
                        $(this).find(".action-down").addClass('disabled');
                    }
                });
            };

            setupContextMenu($(".sortable-container > .sortable-item"));

            $("#product_rank_list > .sortable-container").sortable({
                items: '> .sortable-item',
                cursor: 'move',
                update: function(e, ui) {
                    $('body').append($('<div class="modal-backdrop show"></div>'));
                    window.$children = $(ui.item).parent().children();
                    updateRank(ui.item);
                }
            });

            // 並び替え後にrankを更新
            var updateRank = function(item) {
                var position = $(item).parent().children().index(item) + 1;
                $.ajax({
                    url: '{{ url('admin_product_product_rank_move_rank') }}',
                    type: 'POST',
                    data: {
                        'category_id': '{{ category_id }}',
                        'product_id': item.data('product-id'),
                        'position': position,
                    },
                }).done(function(data) {
                    console.log(data);
                    $(".modal-backdrop").remove();
                    if (data != true) {
                        alert('{{ 'product_rank.admin.move_rank.error'|trans }}');
                        $("#product_rank_list > .sortable-container").sortable('cancel');
                    } else {
                        setupContextMenu(window.$children);
                    }
                }).fail(function() {
                    console.log('fail');
                    $(".modal-backdrop").remove();
                    alert('{{ 'product_rank.admin.move_rank.error'|trans }}');
                    $("#product_rank_list > .sortable-container").sortable('cancel');
                });
            };

            // ランク移動リンク
            $(".product_rank_move_rank_anchor").on("click", function(e) {
                e.preventDefault();
                $form = $('<form action="{{ url('admin_product_product_rank_move_rank') }}" method="POST" style="display:none;"></form>');
                $item = $(this).parents(".sortable-item");
                $form.append($('<input type="hidden" name="category_id"></input>').val($item.data("category-id")));
                $form.append($('<input type="hidden" name="product_id"></input>').val($item.data("product-id")));
                $form.append($('<input type="hidden" name="position"></input>').val($(this).siblings(".product_rank_move_rank_input").val()));
                $('body').append($form);
                $form.submit();
            });

        });
    </script>
{% endblock %}

{% block stylesheet %}
    {#TODO: Move to css file#}
    <style>
        .c-directoryTree ul > li > ul li:not(:last-of-type) > label:before,
        .c-directoryTree ul > li > ul li:last-of-type > label:before {
            margin-right: 1.6em;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="c-outsideBlock">
        <div class="c-outsideBlock__contents mb-2">
            <div class="row">
                <div class="col-6">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb mb-2 p-0">
                            <li class="breadcrumb-item">
                                <a href="{{ url('admin_product_category') }}">
                                    {{ 'product_rank.admin.move_rank.all_category'|trans }}
                                </a>
                            </li>
                            {% for ParentCategory in TargetCategory.path %}
                                {% if ParentCategory.id is not null %}
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a href="{{ url('admin_product_category_show', { parent_id : ParentCategory.id }) }}">
                                            {{ ParentCategory.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                {% if ProductCategories|length > 0 %}
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body p-0">
                            <div class="card rounded border-0 mb-2" id="product_rank_list">
                                <ul class="list-group list-group-flush sortable-container">
                                    {% for ProductCategory in ProductCategories %}
                                        <li class="list-group-item sortable-item" data-rank="{{ ProductCategory.product_rank_sort_no }}" data-category-id="{{ ProductCategory.category_id }}" data-product-id="{{ ProductCategory.product_id }}">
                                            <div class="row justify-content-around mode-view">
                                                <div class="col-auto d-flex align-items-center">
                                                    <i class="fa fa-bars text-ec-gray"></i>
                                                </div>
                                                <div class="col-auto d-flex">
                                                    <a href="{{ url('admin_product_product_edit', { id : ProductCategory.Product.id }) }}">
                                                        <img src="{{ asset(ProductCategory.Product.mainFileName|no_image_product, 'save_image') }}" style="max-width: 50px" />
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a href="{{ url('admin_product_product_edit', { id : ProductCategory.Product.id }) }}">
                                                        {{ ProductCategory.Product.name }}
                                                    </a>
                                                    <br>
                                                    {% if ProductCategory.Product.code_min is not empty or ProductCategory.Product.code_max is not empty %}
                                                        <span>
                                                            {{ ProductCategory.Product.code_min }}
                                                            {% if ProductCategory.Product.code_min != ProductCategory.Product.code_max %} ～ {{ ProductCategory.Product.code_max }}
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                    <span>
                                                        ({{ ProductCategory.Product.status }})
                                                    </span>
                                                </div>
                                                <div class="col-auto text-right">
                                                    <a class="btn btn-ec-actionIcon action-up mr-3 {% if loop.first %} disabled {% endif %}" href="{{ url('admin_product_product_rank_up', {category_id: ProductCategory.category_id, product_id: ProductCategory.product_id}) }}" {{ csrf_token_for_anchor() }} data-method="PUT" data-confirm="false">
                                                        <i class="fa fa-arrow-up fa-lg text-secondary"></i>
                                                    </a>
                                                    <a class="btn btn-ec-actionIcon action-down mr-3 {% if loop.last %} disabled {% endif %}" href="{{ url('admin_product_product_rank_down', {category_id: ProductCategory.category_id, product_id: ProductCategory.product_id}) }}" {{ csrf_token_for_anchor() }} data-method="put" data-confirm="false">
                                                        <i class="fa fa-arrow-down fa-lg text-secondary"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-right">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <input class="product_rank_move_rank_input form-control" type="text" />
                                                        </div>
                                                        <a class="btn btn-default product_rank_move_rank_anchor" href="javascript:void(0);">{{ 'product_rank.admin.move_rank.th'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card rounded border-0">
                        <div class="card-body p-4">
                            <div class="text-center text-muted">{{ 'product_rank.admin.move_rank.select_category'|trans }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# TODO: 選択中の項目をわかるように表示 #}
        {% macro tree(Category, TargetId, level, Ids) %}
            {% import _self as selfMacro %}
            {% set level = level + 1 %}
            <li>
                <label {% if (Category.children|length > 0) and (Category.id not in Ids) %}class="collapsed"
                       {% endif %}data-toggle="collapse"
                       href="#directory_category{{ Category.id }}"
                       aria-expanded="{% if Category.id in Ids %}true{% endif %}"
                       aria-controls="directory_category{{ Category.id }}"></label>
                <span>
                    <a href="{{ url('admin_product_product_rank_show', { category_id : Category.id }) }}"{%if (Category.id == TargetId) %} class="font-weight-bold"{% endif %}>{{ Category.name }}
                        ({{ Category.children|length }})</a></span>
                {% if Category.children|length > 0 %}
                    <ul class="collapse list-unstyled {% if Category.id in Ids %}show{% endif %}"
                        id="directory_category{{ Category.id }}">
                        {% for ChildCategory in Category.children %}
                            {{ selfMacro.tree(ChildCategory, TargetId, level, Ids) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endmacro %}

        <div class="c-contentsArea__secondaryCol">
            <div id="ex-secondaryCol" class="c-secondaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <span class="card-title"><a
                                    href="{{ url('admin_product_category') }}">{{ 'admin.product.category_all'|trans }}</a></span>
                    </div>
                    <div class="card-body">
                        <div class="c-directoryTree mb-3">
                            {% import _self as renderMacro %}
                            {% for TopCategory in TopCategories %}
                                <ul class="list-unstyled">
                                    {{ renderMacro.tree(TopCategory, TargetCategory.Parent.id | default(null), 0, Ids) }}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
